# 依赖
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 构建产物
# dist  # 生产环境需要dist目录
dist-ssr
*.local

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env.local
.env.*.local

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# 测试
coverage

# 日志
logs
*.log
